body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label {
	padding-left: 10px;
}

input {
	padding: 10px;
}

button {
	font-size: 26px;
}
